table,td,tr{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.amarillo{
    background-color: yellow;
}

tr {
    background-color: red;
}

table{
    text-align: center;
    margin: 0 auto;
}
